

.open-sans-normal> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.header{
    width: full;
    height: 655px;
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    align-items: center;
    gap: none;
}
.banner{
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
   }
.banner-tittle{
    font-weight: bold;
    font-size: 48px;
 }
.btn-primary{
    background-color:  rgba(12, 13, 16, 1);
    font-weight: bold;
    color: white;
    padding: 21px 24px;
    border-radius: 8px;
}
.section-tittle{
    font-size: 32px;
    font-weight: bold ;
    color: rgba(13, 19, 33, 1);
}
.about{
    border-radius: 16px;
    padding: 48px ;
    text-align: center;
    justify-content: center;
}
main{
    max-width:1180px;
    margin: 0 auto;
}
main section{
    margin-top: 50px;
}
.section-description{
    font-size: 16px;
    color: #757575;
}
.similar-tittle{
    color:#484B53;
    font-weight: bold;
    font-size: 20px;

}
.design{
    justify-content: center;
    padding:48px;
    gap: 32px;
    border-radius: 16px;
    box-shadow: 0px 4px 4px 0px #979595;
    margin: 30px;
}
.part-one{
    display: flex;
    text-align: start;
}
.part-two{
    display:flex ;
    text-align: left;
}

.part-three{
    display: flex;
    text-align: start;
}
.common-btn{
    margin: 12px 20px;
    color:#757575;
    text-align: start;
}
.vedio-sec{
    justify-content: center;
    align-items: center;
    
}
.vedio-tittle{
    font-weight: bold;
    font-size: 32px;
    text-align: center;
}
.vedio-description{
    font-weight: regular;
    font-size: 16px;
    color: #757575;
    text-align: center;
}
.vedio{
    justify-content: center;
    text-align: center;
    margin-top: 48px;
    padding:20px;
    border-radius: 20px;

}
.text-center{
    text-align: center;

}
.skills-container{
    display: flex;
    text-align: start;
    justify-content: center;
    gap: 24px;
}
.skill-description{
    color:#757575;
    font-size: 16px;
}
.skill-design{
    padding:40px;
    border-radius: 15px;
}
.skill-one{
    background-color: #FFEDED;
}
.skill-two{
    background-color:rgba(0, 76, 232, 0.05) ;
}
.skill-three{
    background-color: rgba(255, 223, 0, 0.05)
}
.lear{
    font-size: 15px;
    color:rgba(13, 19, 33, 1);
}
.sim-style{
    display:flex;
    text-align: left;
    padding: 40px;
    box-shadow: 0px 4px 4px 0px #979595;
    column-gap: 24px;
    border-radius: 16px;
    margin: 30px;
}
.handshake{
    background-image: url(../assets/handshake.jpg);
    justify-content: center;
    text-align: center;
    width:1100px;
    min-height: 50px;
    padding:64px 48px;
    background-repeat: no-repeat;
    border-radius: 16px;
    background-position: center;
    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 1);
}
.handshake-tittle{
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
    font-size: 30px;
}
.handshake-description{
    color: rgba(255, 255, 255, 1) ;
    font-size: 16px;
    font-weight:regular;
}
#line{
    padding:10px;
    border-radius: 10px;
    text-align: start;
    margin-right:10px ;
    border: none;
}
.l-btn{
    padding:8px;
    border-radius: 8px;
    border: none;
}
.foot{
    display: flex;
    justify-content: space-between;
    padding: 38px;
    text-align: center;
    box-shadow: 0px 4px 4px 0px #ccc8c8;
}
.footer-tittle{
    font-weight:bold ;
    font-size: 20px;
    color: rgba(13, 19, 33, 1);
}

    








    


